/**
 * TODO: Rely on SASS or LESS and optimize this;
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #222;
  background-color: #f2f2f2;
  margin: 0;
}

a, a:visited, a:link {
  color: #8c81c3;
  text-decoration: none;
}

a:hover {
  color: #6a56ce;
  text-decoration: underline;
}

input[type='date'] {
  border: 10px solid #e89a25;
  border-radius: 6px;
  font-size: 16px;
  font-family: Arial;
  padding: 5px;
  box-sizing: border-box;
}

input::-webkit-calendar-picker-indicator {
  color: #b60040;
  background-color: #fff;
}
input::-webkit-clear-button {
  color: #b60040;
}

select {
  height: 28px;
  font-size: 12px;
  border: 1px solid #d1ca47;
}


h1 {
  font-size: 2.8em;
  margin: 0 0 20px 0;
  color: rgba(182, 0, 64, 0.66);
  line-height: 0.8;
}

.header .header__thumbnail {
  border-radius: 16px;
}

.btn {
  border: 1px solid transparent;
  background-color: #d1ca47;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 1px;
}

.title-container {
  text-align: center;
}


.zemogians {
    max-width: 508px;
    margin: 0 auto;
}

.zemogian {
  background-color: #fff;
  color: #333;
  margin-bottom: 30px;
  box-shadow: 1px 2px 2px 1px rgba(50, 50, 50, 0.15);
  padding: 20px;
}


.zemogian__icon {
    border-radius: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

.zemogian__name {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

.zemogian__total {
  color: #fff;
  background-color: #10c64f;
}

.penguined {
  background-color: #fd3d48;
}
.penguin-icon {
  font-size: 17px;
}

.tright {
  text-align: right;
}

.text-penguined {
  color: #f00;
}

.text-description {
  color: #ca3786;
}

.description-hidden {
  color: #999;
}

.hide-notifier-button #push-notifier {
  display: none;
}
